<div class="home-container">

  <!--Carousel-->
  <div class="carousel-container" *ngIf="slides.length > 0">
  <button class="carousel-button prev" (click)="previousSlide()" aria-label="Anterior">&#10094;</button>

  <div class="slide-image-container" (click)="navigateToCurrentSlideRoute()" role="link" tabindex="0" (keydown.enter)="navigateToCurrentSlideRoute()">
    <img [src]="getCurrentSlideUrl()" [alt]="getCurrentSlideAlt()" class="slide-image">
  </div>

  <button class="carousel-button next" (click)="nextSlide()" aria-label="Siguiente">&#10095;</button>

  <div class="dots-container">
    <span *ngFor="let slide of slides; let i = index"
          class="dot"
          [class.active]="i === currentIndex"
          (click)="goToSlide(i)"
          [attr.aria-label]="'Ir a diapositiva ' + (i + 1)">
    </span>
  </div>
</div>

<div *ngIf="slides.length === 0">
  <p>No hay imágenes para mostrar en el carrusel.</p>
</div>


  <!--Story-->
  <section class="story-cards-section">
    <div class="story-cards-container">
      <div *ngFor="let story of stories" class="story-card" (click)="openStory(story.id)">
        <img [src]="story.backgroundImage" [alt]="story.title" class="card-background">
        <div class="overlay-content">
          <div class="circular-badge">
            <img [src]="story.badgeImage" [alt]="story.title">
          </div>
          <div class="card-title">{{story.title}}</div>
        </div>
        <div class="hover-content">
          {{story.hoverText}}
        </div>
      </div>
    </div>
  </section>

</div>
