<footer class="payment-footer-container">
  <div class="payment-footer-content">
    <p class="footer-title">Métodos de Pago Aceptados</p>
    <div class="payment-logos">
      <img src="assets/image-logos/mercado.png" alt="Webpay Plus" title="Webpay Plus" class="payment-logo webpay">
      </div>
    <p class="secure-payment-info">
      <span class="material-symbols-outlined lock-icon">lock</span>
      Pagos seguros procesados por Transbank
    </p>
  </div>
  <div class="payment-footer-bottom">
    <p>&copy; {{ currentYear }} Ferremas. Todos los derechos reservados.</p>
  </div>
</footer>
