<h1>Lista de Productos</h1>

<div *ngIf="errorOcurred" class="error-message">
  <p>{{ errorMessage || 'Lo sentimos, ocurrió un error al cargar los productos. Por favor, intenta más tarde.' }}</p>
</div>

<div class="product-list-container" *ngIf="!errorOcurred">
  <div *ngIf="products$ | async as products; else loadingOrNoProducts">
    <div *ngIf="products.length > 0; else noProductsMessage">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-info">
          <h3>{{ product.nombre }}</h3>
          <p class="description">{{ product.descripcion }}</p>
          <p><strong>Marca:</strong> {{ product.marca }}</p>
          <p><strong>Categoría:</strong> {{ product.categoria }} | {{ product.subcategoria }}</p>
          <p><strong>Stock Total:</strong> {{ product.stock_total }}</p>
          <p class="price">{{ product.precio.precio_actual | currency:'CLP':'symbol':'1.0-0' }}</p>
          <p><small>Código: {{ product.codigo_producto }} / Ref: {{ product.codigo_marca }}</small></p>
          <div class="product-actions">
            <a [routerLink]="['/product/edit', product.codigo_producto]" class="btn-edit">
              Modificar
            </a>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noProductsMessage>
      <div class="info-message">
        <p>No hay productos disponibles en este momento.</p>
      </div>
    </ng-template>
  </div>
  <ng-template #loadingOrNoProducts>
    <div class="info-message">
      <p>Cargando productos...</p>
    </div>
  </ng-template>
</div>
